$body-bg: #0f0f0f;
$main-color: #52b788;
$txt-color: #fff;

$white: #fff;
$black: #000;
$red: #ff0000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-white: rgba(255, 255, 255, 0.7) 0px 2px 20px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: "Nunito", sans-serif;

$logo-color: #ffd60a;
$logo-font: "Caveat", cursive;
